@charset "utf-8";
/* ページ全体で参照する色を定義 */

/* general */

body {
  font-family: 'Lato', 'Raleway', 'sans-self';
  /* フォントの指定 */
}

.inner {
  width: 1100px;
  margin: 0 auto;
}

/* header */

.header {
  background-color: #fff;
  box-shadow: 0 0 1px rgba(0, 0, 0, .5);
  position: fixed;
  padding: 0;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.header-inner {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__bolt_icon {
  color: #333;;
  display: inline-block;
  font-size: 40px;
}

.header__btn_hamburger {
  display: none;
}

.header__btn_contact {
  background-color: #74cfae;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  padding: 14px 12px;
  text-decoration: none;
  transition: color .3s ease;
}

.header__btn_contact:hover {
  color: #333;;
}

/* main */

.main {
  background-color: #f2f2f2;
  width: 100%;
}

/* theme */
.theme {
  padding: 250px 0;
}

.theme-inner {
  text-align: center;
}

.theme__heading {
  color: #74cfae;
  font-weight: 700;
  font-size: 90px;
}

.theme__description {
  color: #c0c0c0;
  font-size: 30px;
  font-weight: normal;
  margin-top: 20px;
}

/* detail */

.detail {
  background-color: #74cfae;
  color: #fff;
  padding-top: 50px;
}

.detail-inner {
  display: flex;
  justify-content: space-between;
}

.detail__img {
  flex: 1;
  line-height: 0;
  /* figcaption 用の隙間を消す */
  padding: 0 50px 0 100px;
  margin: 0;
}

.detail__text {
  flex: 2.2;
  text-align: center;
  padding-top: 10px;
}

.detail__heading {
  font-size: 24px;
  font-family: 'Raleway';
}

.detail__description {
  font-size: 20px;
  line-height: 25px;
  margin-top: 35px;
}

/* latest-work */

.latest-work {
  color: #333;;
  padding-top: 60px;
  padding-bottom: 70px;
  text-align: center;
}

.latest-work__heading {
  font-family: 'Raleway';
  font-size: 24px;
}

.latest-work__images {
  display: flex;
  flex-wrap: wrap;
  font-size: 0;
  columns: 3;
  margin: 40px auto 0;
}

.latest-work__image-link {
  margin: 80px 0 0 100px; /* 上と左にmargin */
  opacity: .7;
  transition: opacity .3s ease;
}

.latest-work__image-link:hover {
  opacity: 1;
}

.latest-work__description {
  display: flex;
}

.latest-work__btn-email {
  background-color: #74cfae;
  box-sizing: border-box;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  margin-left: 90px;
  padding: 14px 20px;
  text-decoration: none;
  transition: color .3s ease;
  width: 150px;
}

.latest-work__btn-email:hover {
  color: #333;;
}

/* skills */

.skills {
  background-color: #4e4e4e;
  padding-top: 70px;
  padding-bottom: 100px;
  text-align: center;
}

.skills__heading {
  color: #fff;
  font-family: 'Raleway';
  font-size: 24px;
}

.skills__images {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.skills__images__image_caption {
  color: #fff;
  font-size: 16px;
  margin-top: 10px;
}

/* sns */

.sns {
  padding-top: 200px;
  padding-bottom: 200px;
}

.sns-inner {
  display: flex;
  justify-content: center;
}

.sns__button {
  display: inline-block;
  color: #74cfae;
  font-size: 35px;
  line-height: 100px;
  text-align: center;
  transition: .3s;
  width: 185px;
}

.sns__button:hover {
  background-color: #fff;
}

/* footer */

.footer {
  background-color: #74cfae;
  width: 100%;
  padding: 20px 0 25px 0;
}

.footer-inner {
  text-align: right;
}

.footer__description {
  display: inline-block;
  color: #fff;
}

@media screen and (max-width:767px) {
  .inner {
    width: 97%;
  }

  
  .header-inner {
    height: 90px;
    padding: 15px;
  }

  .header__bolt_icon {
    font-size: 45px;
  }

  .header__btn_hamburger {
    border: 1px solid #ddd;
    border-radius: 4px;
    color: #ddd;
    display: inline-block;
    font-size: 45px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    width: 80px;
  }
  
  .header__btn_contact {
    position: fixed;
    display: none;
    left:0;
    top: 120px;
    width:100%;
    margin: 0;
    
  }

  .main {
    padding-top: 120px;
    /* ナビゲーションバーの固定分 */
  }

  /* theme */
  .theme {
    padding-top: 160px;
    padding-bottom: 130px;
  }
  .theme__heading {
    font-size: 80px;
  }

  /* detail */
  .detail-inner {
    flex-flow: column;
  }

  .detail__img {
    padding: 0;
    margin: 0 auto;
  }

  .detail__text {
    margin-top: 20px;
    padding-top: 0;
    padding-bottom: 25px;
  }

  /* latest-work */
  .latest-work__images {
    display: flex;
    flex-flow: column;
    justify-content: center;
    font-size: 0;
    margin: 40px auto 0;
  }

  .latest-work__image-link {
    margin: 0 auto;
    width: 300px;
    opacity: .7;
    transition: opacity .3s ease;
  }

  /* sp 用の1列 3つずつ表示 */
  .latest-work__image-link:nth-child(3n+4) {
    margin-top: 80px;
  }

  .latest-work__description {
    flex-flow: column;
    margin-top: 80px;
  }
  .latest-work__btn-email {
    margin: 40px auto 0;
  }

  /* skills */
  .skills__images {
    display: flex;
    flex-flow: column;
    margin-top: 50px;
  }

  .skills__images__image {
    margin-top: 88px;
  }

  .skills__images__image:first-of-type {
    margin-top: 0;
  }

  /* sns */
  .sns {
    padding: 50px 15px;
  }

  .sns-inner{
    flex-flow: column;
    align-items: center;
    margin: 0 auto;
  }

}

@media screen and (min-width:768px) and ( max-width:1199px) {
  .inner {
    width: 97%;
  }

  .main {
    margin-top: 70px;
  }


  /* detail */
  .detail-inner {
    flex-flow: column;
  }

  .detail__img {
    padding: 0;
    margin: 0 auto;
  }

  .detail__text {
    margin-top: 20px;
    padding-top: 0;
    padding-bottom: 25px;
  }

  /* latest-work */

  .latest-work {
    padding-bottom: 70px;
  }
  .latest-work__images {
    display: flex;
    flex-flow: column;
    justify-content: center;
    font-size: 0;
    margin: 40px auto 0;
  }

  .latest-work__image-link {
    margin: 0 auto;
    width: 300px;
    opacity: .7;
    transition: opacity .3s ease;
  }

  /* tab 用の1列 3つずつ表示 */

  .latest-work__image-link:nth-child(3n+4) {
    margin-top: 80px;
  }

  .latest-work__description {
    flex-flow: column;
    margin-top: 80px;
  }
  .latest-work__btn-email {
    margin: 40px auto 0;
  }

  /* skills */
  .skills__images {
    display: flex;
    flex-flow: column;
    margin-top: 50px;
  }

  .skills__images__image {
    margin-top: 88px;
  }

  .skills__images__image:first-of-type {
    margin-top: 0;
  }
}
@media screen and (min-width:1200px) {
  .main {
    margin-top: 70px;
    /* ナビゲーションバーの固定分 */
  }

  /* pc 用の 3 列 2行表示 */
  
  /* 上３つ */
  .latest-work__image-link:nth-child(-n+3) {
    margin-top: 0;
  }
  /* 左 */
  .latest-work__image-link:nth-child(3n+1) {
    margin-left: 0;
  }

  .latest-work__description {
    margin-top: 90px;
    justify-content: center;
    align-items: flex-start;
  }
  .latest-work__text {
    width: 460px;
    line-height: 20px;
  }

  .skills__images__image {
    margin-right: 180px;
  }
  .skills__images__image:last-child {
    margin-right: 0;
  }
}
